---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: generic-device-plugin
spec:
  interval: 1h
  path: ./kubernetes/apps/system/generic-device-plugin/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: system
  wait: true
