---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authelia
spec:
  chartRef:
    kind: OCIRepository
    name: authelia
  interval: 1h
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-authelia"
        accessKey: "${S3ID}"
        secretKey: "${S3KEY}"
        encrKey: "${S3KEY}"
    workload:
      main:
        replicas: 1
        podSpec:
          containers:
            main:
              env:
                AUTHELIA_SESSION_SECRET: ${AUTHELIA_SESSION_KEY}
                AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET: ${AUTHELIA_JWT_KEY}
                AUTHELIA_STORAGE_ENCRYPTION_KEY: ${AUTHELIA_ENCRYPTION_KEY}
    authelia:
      server:
        buffers:
          read: 16384
          write: 16384
      theme: auto
      totp:
        issuer: ${SECRET_DOMAIN}
      authentication_backend:
        ldap:
          implementation: 'lldap'
          address: ldap://lldap-ldap:3890
          tls:
            server_name: directory.${SECRET_DOMAIN}
          base_dn: ${LLBASEDN}
          additional_users_dn: ou=people
          users_filter: (&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))
          additional_groups_dn: ou=groups
          user: uid=${LLUSERDN},ou=people,${LLBASEDN}
          password: ${LLUSERPASS}
      access_control:
        rules:
        - domain:
            - ${SECRET_DOMAIN}
            - '*.${SECRET_DOMAIN}'
          policy: bypass
          resources:
          - "^/api([/?].*)?$"
          - "^/api([/?].*)?$"
          - "^/identity.*$"
          - "^/triggers.*$"
          - "^/meshagents.*$"
          - "^/meshsettings.*$"
          - "^/agent.*$"
          - "^/control.*$"
          - "^/meshrelay.*$"
          - "^/wl.*$"
        - domain:
            - ${SECRET_DOMAIN}
            - '*.${SECRET_DOMAIN}'
          policy: two_factor
          subject:
            - 'group:admin'
      session:
        cookies:
          - domain: '${SECRET_DOMAIN}'
            authelia_url: 'https://auth.${SECRET_DOMAIN}'
            default_redirection_url: 'https://www.${SECRET_DOMAIN}'
      regulation:
        find_time: 10m
        ban_time: 12h
      notifier:
        smtp:
          address: 'smtp://${SMTP_HOST}:2525'
          username: ${SMTP_USER}
          password: ${SMTP_PASSWORD}
          sender: ${SMTP_EMAIL}
          startup_check_address: ${SMTP_EMAIL}
          disable_html_emails: true
          tls:
            server_name: ${SMTP_HOST}
    cnpg:
      main:
        mode: recovery
        cluster:
          singleNode: true
        backups:
          enabled: true
          credentials: s3
          scheduledBackups:
            - name: daily-backup
              schedule: "0 5 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
          method: object_store
          credentials: s3
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: s3
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: "0 5 * * *"
