---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
patches:
  - patch: |-
      - op: add
        path: /metadata/labels
        value:
          app.kubernetes.io/name: renovate-operator
          app.kubernetes.io/instance: renovate-operator
    target:
      kind: HelmRelease
      name: renovate-operator
