---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gatus
spec:
  chartRef:
    kind: OCIRepository
    name: gatus
  interval: 1h
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
      skipEmptyWalArchiveCheck: true
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/twin/gatus
      pullPolicy: IfNotPresent
      tag: v5.33.0@sha256:bf249f4d7cf69e825457ade2ebc3d11168d73527ef1657a653119a0d9da97a4a
    configsImage:
      repository: ghcr.io/home-operations/gatus-sidecar
      pullPolicy: IfNotPresent
      tag: 0.0.12@sha256:83bf82d422e9b0529a8076cb584d557a12158d9d8a4c373b4d27afcb87a17569
    securityContext:
      readOnlyRootFilesystem: false
    service:
      main:
        ports:
          main:
            port: 8080
    workload:
      main:
        podSpec:
          containers:
            main:
              imageSelector: image
              env:
                GATUS_DELAY_START_SECONDS: 5
                GATUS_CONFIG_PATH: "{{ .Values.persistence.config.mountPath }}"
            gatus-sidecar:
              enabled: true
              imageSelector: configsImage
              probes:
                liveness:
                  enabled: false
                readiness:
                  enabled: false
                startup:
                  enabled: false
              args:
                - --auto-httproute
                - --enable-httproute
                - --enable-service
              resources:
                requests:
                  cpu: 100m
                limits:
                  memory: 256Mi
    configmap:
      gatus-config:
        enabled: true
        data:
          config.yaml: |
            connectivity:
              checker:
                target: 1.1.1.1:53
                interval: 1m
            endpoints:
              - name: Cloudflare
                group: connectivity
                url: icmp://1.1.1.1
                interval: 1m
                conditions:
                  - "[CONNECTED] == true"
              - name: Google
                group: connectivity
                url: icmp://8.8.8.8
                interval: 1m
                conditions:
                  - "[CONNECTED] == true"
              - name: Quad9
                group: connectivity
                url: icmp://9.9.9.9
                interval: 1m
                conditions:
                  - "[CONNECTED] == true"connectivity:
            endpoints:
              - name: Cloudflare
                group: connectivity
                url: icmp://1.1.1.1
                interval: 1m
                conditions:
                  - "[CONNECTED] == true"
              - name: Google
                group: connectivity
                url: icmp://8.8.8.8
                interval: 1m
                conditions:
                  - "[CONNECTED] == true"
              - name: Quad9
                group: connectivity
                url: icmp://9.9.9.9
                interval: 1m
                conditions:
                  - "[CONNECTED] == true"
            {{- if .Values.cnpg.main.enabled }}
            storage:
              type: postgres
              path: {{ (printf "%s?client_encoding=utf8" (.Values.cnpg.main.creds.std | trimAll "\"")) | quote }}
            {{- end }}
            alerting:
              discord:
                webhook-url: "${GATUS_DISCORD_WEBHOOK_GLOBAL}"
                default-alert:
                  description: "health check failed"
                  send-on-resolved: true
                  failure-threshold: 3
                  success-threshold: 2
            metrics: true
            ui:
              title: Status | Gatus
              header: Status
              logo: https://avatars.githubusercontent.com/u/213795
              link: https://github.com/MaverickD650
              buttons:
                - name: Github
                  link: https://github.com/MaverickD650
                - name: Homelab
                  link: https://github.com/MaverickD650/home-operations
            {{- with $.Values.gatus }}
            {{- toYaml . | nindent 2 }}
            {{- end }}
    persistence:
      config:
        enabled: true
        mountPath: /config
        targetSelectAll: true
      gatus-config:
        enabled: true
        type: configmap
        mountPath: /config/config.yaml
        objectName: gatus-config
        readOnly: true
        subPath: config.yaml

    cnpg:
      main:
        enabled: true
        user: gatus
        database: gatus
        backups:
          enabled: false

    # -- Whether Role Based Access Control objects like roles and rolebindings should be created
    rbac:
      main:
        enabled: true
        primary: true
        clusterWide: true
        rules:
          - apiGroups: [""]
            resources:
              - "services"
            verbs:
              - "get"
              - "list"
              - "watch"
          - apiGroups:
              - "gateway.networking.k8s.io"
            resources:
              - "gateways"
              - "httproutes"
            verbs:
              - "get"
              - "list"
              - "watch"
    # -- The service account the pods will use to interact with the Kubernetes API
    serviceAccount:
      main:
        enabled: true
        primary: true

    podOptions:
      automountServiceAccountToken: true

    metrics:
      main:
        enabled: true
        type: "servicemonitor"
        endpoints:
          - port: main
            path: /metrics
