---
# yaml-language-server: $schema=https://schema.maverickd650.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snippet-box
spec:
  chartRef:
    kind: OCIRepository
    name: snippet-box
  interval: 1h
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-snippet-box"
        accessKey: "${S3ID}"
        secretKey: "${S3KEY}"
        encrKey: "${S3KEY}"
    resources:
      requests:
        cpu: 10m
    persistence:
      data:
        volsync:
        - name: data
          type: restic
          credentials: s3
          dest:
            enabled: true
            moverSecurityContext:
              runAsUser: 0
              runAsGroup: 0
              fsGroup: 0
          src:
            enabled: true
            trigger:
              schedule: 30 1 * * *
            moverSecurityContext:
              runAsUser: 0
              runAsGroup: 0
              fsGroup: 0
