---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: renovate-cache-home-ops
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
