---
# yaml-language-server: $schema=https://schema.maverickd650.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: feedcord
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: feedcord
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/maverickd650/feedcord
              tag: 5.1.0@sha256:9bd594efdf7188bf2af272f9c900ce7fa20e4f1d6bb73e9dc8dd57ef0832e6f7
            env:
              TZ: Europe/London
            envFrom:
              - secretRef:
                  name: feedcord-secret
    service:
      main:
        ports:
          http:
            port: 3000
    persistence:
      config:
        type: configMap
        name: feedcord-config-main
        globalMounts:
          - subPath: appsettings.json
            path: /app/config/appsettings.json
