---
# yaml-language-server: $schema=https://schema.maverickd650.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: feedcord
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: feedcord
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/maverickd650/feedcord
              tag: master-13b4e16@sha256:a956c241bf9876b7070c66368048171417e37ea324fd86db25abef0d23996e4f
            env:
              TZ: Europe/London
            envFrom:
              - secretRef:
                  name: feedcord-secret
    service:
      main:
        ports:
          http:
            port: 3000
    persistence:
      config:
        type: configMap
        name: feedcord-config-main
        globalMounts:
          - subPath: appsettings.json
            path: /app/config/appsettings.json
