---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mend-renovate
spec:
  chartRef:
    kind: OCIRepository
    name: mend-renovate
  interval: 30m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    image:
      repository: ghcr.io/mend/renovate-ce
      pullPolicy: IfNotPresent
      tag: 12.1.0@sha256:d1fd348363894355708f7f8d0c9250f3210f2dbe110719f64c639ef6e5239caf

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                - name: MEND_RNV_ACCEPT_TOS
                  value: "Y"
                # unregistered public license key
                - name: MEND_RNV_LICENSE_KEY
                  value: eyJsaW1pdCI6IjEwIn0=.30440220457941b71ea8eb345c729031718b692169f0ce2cf020095fd328812f4d7d5bc1022022648d1a29e71d486f89f27bdc8754dfd6df0ddda64a23155000a61a105da2a1
                - name: MEND_RNV_PLATFORM
                  value: github
                # See https://github.com/mend/renovate-ce-ee/blob/main/docs/setup-for-github.md
                - name: MEND_RNV_GITHUB_APP_ID
                  valueFrom:
                    secretKeyRef:
                      name: &secret mend-renovate-secret
                      key: MEND_RNV_GITHUB_APP_ID
                - name: MEND_RNV_GITHUB_APP_KEY
                  valueFrom:
                    secretKeyRef:
                      name: *secret
                      key: MEND_RNV_GITHUB_APP_KEY
                - name: MEND_RNV_WEBHOOK_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: *secret
                      key: MEND_RNV_WEBHOOK_SECRET
                - name: MEND_RNV_SERVER_PORT
                  value: "{{ .Values.service.main.ports.main.port }}"
                - name: MEND_RNV_AUTODISCOVER_FILTER
                  value: "maverickd650/home-operations"
                - name: MEND_RNV_DATA_HANDLER_TYPE
                  value: postgresql
                - name: PGDATABASE
                  value: "{{ .Values.cnpg.main.database }}"
                - name: PGUSER
                  value: "{{ .Values.cnpg.main.user }}"
                - name: PGPASSWORD
                  value: "{{ .Values.cnpg.main.creds.password }}"
                - name: PGHOST
                  value: "{{ .Values.cnpg.main.creds.host }}"
                - name: PGPORT
                  value: "5432"
                - name: LOG_LEVEL
                  value: debug

    service:
      main:
        ports:
          main:
            port: 80
            protocol: tcp
    securityContext:
      container:
        readOnlyRootFilesystem: false
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
    cnpg:
      main:
        enabled: true
        user: renovate
        database: renovate
        cluster:
          singleNode: true
        backups:
          enabled: false
