---
apiVersion: v1
kind: Namespace
metadata:
  name: system
  annotations:
    kustomize.toolkit.fluxcd.io/prune: disabled
  labels:
    pod-security.kubernetes.io/enforce: privileged
    volsync.backube/privileged-movers: "true"
