---
# yaml-language-server: $schema=https://schema.301401.xyz/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mealie
spec:
  chartRef:
    kind: OCIRepository
    name: mealie
  interval: 1h
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-mealie"
        accessKey: "${S3ID}"
        secretKey: "${S3KEY}"
        encrKey: "${S3KEY}"
    mealie:
      api:
        smtp:
          user: "${SMTP_USER}"
          password: "${SMTP_PASSWORD}"
          host: "${SMTP_HOST}"
          port: 2525
          from_name: Mealie
          from_email: "${SMTP_EMAIL}"
          auth_strategy: TLS
        oidc:
          auth_enabled: true
          sign_enabled: true
          configuration_url: "${OIDC_DISCOVERY_URL}"
          client_id: "${MEALIE_OIDC_CLIENT}"
          client_secret: "${MEALIE_OIDC_SECRET}"
          provider_name: "Pocket ID"
    persistence:
      data:
        volsync:
          - name: data
            type: restic
            credentials: s3
            dest:
              enabled: true
            src:
              enabled: true
    cnpg:
      main:
        mode: recovery
        cluster:
          singleNode: true
        backups:
          enabled: true
          retentionPolicy: "7d"
          credentials: s3
        recovery:
          method: object_store
          credentials: s3
