---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: filebrowser
spec:
  chartRef:
    kind: OCIRepository
    name: filebrowser
  interval: 1h
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      filebrowser:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/gtsteffaniak/filebrowser
              tag: 1.2.1-stable@sha256:463940b8916867328e438d0636bc2e4a4a21dfe68a526c89e0fe61f9df647b86
            env:
              FILEBROWSER_CONFIG: /config/config.yaml
            envFrom:
              - secretRef:
                  name: filebrowser-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 1024Mi
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
    service:
      app:
        enabled: true
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |
            client:
              dns-resolver: tcp://${UNIFI_HOST}:53
        hostnames:
          - "files.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    configMaps:
      config:
        data:
          config.yaml: |
            ---
            server:
              port: 80
              database: /data/database.db
              cacheDir: /config/cache
              sources:
                - path: /mnt/stash1
                  config:
                    denyByDefault: true
                - path: /mnt/stash2
                  config:
                    denyByDefault: true
                - path: /mnt/media
                  config:
                    denyByDefault: true
                - path: /mnt/books
                  config:
                    denyByDefault: true
                - path: /mnt/docsc
                  config:
                    denyByDefault: true
                - path: /mnt/docss
                  config:
                    denyByDefault: true
                - path: /mnt/home
                  config:
                    defaultEnabled: true
                    createUserDir: true
            auth:
              methods:
                oidc:
                  enabled: true
                  issuerUrl: https://pocket.${SECRET_DOMAIN}
                  scopes: openid profile email groups
                  userIdentifier: preferred_username
                  createUser: true
                  logoutRedirectUrl: https://pocket.${SECRET_DOMAIN}/api/oidc/end-session
                  groupsClaim: groups
                  adminGroup: admin
    persistence:
      data:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 10Gi
        globalMounts:
          - path: /data
      config:
        type: configMap
        identifier: config
      cache:
        type: emptyDir
        globalMounts:
          - path: /config/cache
      stash1:
        type: nfs
        server: 192.168.50.118
        path: /mnt/media/stash/misc
        globalMounts:
          - path: /mnt/stash1
      stash2:
        type: nfs
        server: 192.168.50.118
        path: /mnt/media/stash-rm
        globalMounts:
          - path: /mnt/stash2
      media:
        type: nfs
        server: 192.168.50.118
        path: /mnt/media/mediashare
        globalMounts:
          - path: /mnt/media
      books:
        type: nfs
        server: 192.168.50.118
        path: /mnt/media/calibre
        globalMounts:
          - path: /mnt/books
      docsconsume:
        type: nfs
        server: 192.168.50.118
        path: /mnt/media/filing/consume
        globalMounts:
          - path: /mnt/docsc
      docsstore:
        type: nfs
        server: 192.168.50.118
        path: /mnt/media/filing/store
        globalMounts:
          - path: /mnt/docss
      home:
        type: nfs
        server: 192.168.50.118
        path: /mnt/media/home
        globalMounts:
          - path: /mnt/home
