---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grafana
spec:
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
    - name: cloudnative-pg
      namespace: system
  interval: 1h
  path: ./kubernetes/apps/observability/grafana/app
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
      - name: grafana-secret
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: observability
  wait: true
