---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pocket-id
spec:
  chartRef:
    kind: OCIRepository
    name: pocket-id
  interval: 1h
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    image:
      repository: ghcr.io/pocket-id/pocket-id
      pullPolicy: IfNotPresent
      tag: v2.0.0@sha256:3619fff9999551d618b17225b83f9fb94dab7580188ac9d9971a65b75ba9fe55
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-pocket"
        accessKey: "${S3ID}"
        secretKey: "${S3KEY}"
        encrKey: "${S3KEY}"
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                DB_CONNECTION_STRING: file:/app/data/pocket-id.db?_journal_mode=WAL&_busy_timeout=2500&_txlock=immediate
                APP_URL: https://pocket.${SECRET_DOMAIN}
                TRUST_PROXY: "true"
                UPLOAD_PATH: /app/data/uploads
                METRICS_ENABLED: "true"
                OTEL_METRICS_EXPORTER: "prometheus"
    persistence:
      config:
        enabled: true
        mountPath: /app/data
        volsync:
          - name: config
            type: restic
            credentials: s3
            dest:
              enabled: true
            src:
              enabled: true
    service:
      main:
        ports:
          main:
            port: 1411
            protocol: tcp
